.wrapper {

  background: #FDFEFF;
  transition: background 0.6s ease;
  border-radius: 10px;
  padding: 32px 32px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  height: 500px;
}


.wrapper .profile .thumbnail {
  width: 124px;
  height: 124px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.wrapper .profile .name {
  color: #2D354A;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.wrapper .profile .title {
  color: #7C8097;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.wrapper .profile .description {
  color: #080911;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.3em;
}

.wrapper .social-icons {
  display: flex;
  margin-top: 1.2em;
  justify-content: space-between;
}
.wrapper .social-icons .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper .social-icons .icon a {
  color: #fff;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.wrapper .social-icons .icon:nth-of-type(1) a {
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
}
.wrapper .social-icons .icon:nth-of-type(2) a {
  background: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
}
.wrapper .social-icons .icon:nth-of-type(3) a {
  background: linear-gradient(to bottom right, #6452E9, #639FF9);
}
.wrapper .social-icons .icon h4 {
  color: #080911;
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: 0.2em;
}
.wrapper .social-icons .icon p {
  color: #666B7D;
  font-size: 12px;
}

.concept {
  position: absolute;
  bottom: 25px;
  color: #AAB0C4;
  font-size: 0.9em;
  font-weight: 400;
}
.concept a {
  color: #ac1966;
  text-decoration: none;
}

.table tr td i{
  font-size: 18px;
}


.table tr td{
  border: none !important;
}


.social-icons a{
  border-radius: 100px;
  padding: 5px 10px;
}

